html
{
 scroll-behavior: smooth;
}

.navbar
{
  position:fixed;
}
.top-buffer { 
  margin-top:100px; }
.topnav
{
    background-color: black;
    color:white;
    height:60px;
}

.topnav a{
    color: white;
    text-decoration:none;
    display:block;
    float:left;
}

.topnav a:hover{
    background-color:white;
    color:black;
    width:100px; 
    text-align:center;
   font-weight: bold;
 }

 .bottom-buffer{
     height:160px;
}
    
 #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
    }

#footer{
  position:relative;
}

#Kevin
{
  border-radius: 80%;
}

.demo
{
  position: fixed;
}

#about{
  background: #282828;
  font-family: tahoma;
  text-align: justify;
  padding-top: 98px;
  padding-bottom: 101px;
  z-index: 1000;
}

#Qualifications{
  background: #282828;
  font-family: tahoma;
  text-align: justify;
  padding-top: 98px;
  padding-bottom: 101px;
  z-index: 1000;
  color: white;
}

#about .about-img .me{
  position: absolute;
  top: 81px;
  width: 74%;
}

#about.p-first{
  margin-bottom: 30px;
}

#about h2{
  margin-bottom: 47px;
  margin-top:12px;

}

#about .about-img{
  position: relative;
}

#about .about-img{
  position: relative;
}


.color-3{
  color:#d6c6b2;
}

.text-white{
  color: white;
}
#skills
{
  background: white;
}
#social i{
  width:50px;
  height:50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border:1px solid white;
  margin-right: 10px;
  font-size:22px;
  color: white;
  transition: .3s;
}

#social i:hover{
color:black;
border-color: black;
background: white;
}

#skill.card
{
  border-color: black;
}
#skill .card:hover{
color:white;
border-color: black;
background: black;
transition: .3s;
}

.gotop
{
  position:fixed;
  width:50px;
  height:50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  border:1px solid white;
  background: black;
  margin-right: 10px;
  font-size:22px;
  color: white;
  transition: .3s;
  bottom: 40px;
  right: 50px;
}

#Qualifications h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.gotop:hover
{
  color:black;
  border-color: black;
  background: white;
}

.card:hover {
  transform: translateY(-1rem);
}

#Qualifications .row:hover {
  transform: translateY(-1rem);
  font-weight: bolder;
  transition: .3s;
}

.nav-item :hover{
  font-weight: bold;
  transition: .3s;
}

.loader-container{
  width: 100%;
  height: 100vh;
  background-color: #111;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9000;
}

.loader{
  width: 50px;
  height: 50px;
  border: 5px solid;
  color: #3498db;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader{
  25%{
      color: #2ecc71;
  }
  50%{
      color: #f1c40f;
  }
  75%{
      color: #e74c3c;
  }
  to{
      transform: rotate(360deg);
  }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1000;
}